html,body {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: Arial, sans-serif;
	line-height: 1.5;
	font-size: 16px;
	background: #fff;
	padding: 5px;
	color: #000;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
}

p img {
	float: left;
	margin: 0 10px 5px 0;
	padding: 0;
}

img {
	border: 0;
	max-width: 100%;
}

table {
	width: auto;
	border-collapse: collapse;
	border-spacing: 0;
}

#home {
	margin: 0px, 0px, 0px, 0px;
	background-color: #FF3333;
	border-color: green;
	width: 15%;
	height: 25px;
	margin-bottom: 0px;
}

body {
	margin: 0 auto;
	font-size: 10px;
}

#content {
	width: 90px;
	height: 20px;
}

#Circles {
	position: absolute;
	right: 0px;
	width: 30px;
}

#favorite_image {
	height: 25px;
	width: 25px;
	float: left;
}

#vote_count {
	float: left;
	height: 20px;
	width: 25px;
	font-size: 12px;
}

#more {
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

#create_circle {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

#create_button {
	width: 250px;
	height: 30px;
}

#down_button {
	width: 250px;
	height: 30px;
}

#circles {
	margin: 0px, 0px, 0px, 0px;
	background-color: #FFFFFF;
	border-color: green;
	float: right;
	margin-left: 6px;
}

#content_main_table {
	border-collapse: collapse;
	border-spacing: 0;
	margin: 0px;
}

table.center {
	margin-left: auto;
	margin-right: auto;
	margin: 50px auto;
	padding: 20px;
}