<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" content="">
<title>Main Page</title>
<link rel="stylesheet" type="text/css" href="/static/sourcecss.css">
<script type="text/javascript" src="/static/jquery.js"></script>
<script type="text/javascript" src="/static/javasource.js"></script>
</head>
<body>
	<div class="titlebar" id="header-fixed">
		<hr />
		<input type="button" id="home"
			onclick="window.location.href = '/';" value="Quora+">
		<hr />
	</div>
	<div class="menubar">
			<input type="button" id="content" value="Add Question"
				onclick="window.location.href = '/static/PostQuestion.html';" /> 
			<input type="button" id="content" value="Notifications"
				onclick="navigateToNotifications()" />
			<input type="button" id="content" value="More"
				onclick="window.location.href = '/static/NavigationPage.html';" />
			<select name="circle_select">
			    {% for circle in circles %}
				    <option value={{circle.name}}>{{circle.name}}</option>
			    {% endfor %}
			</select>
	</div>
	<hr />
	<!--- <div id = "refresh"> Please click here to see <span id="count"> questions/answers. </span> <div> -->
	<table id="content_main_table">
		{% for post in posts %}
                <!--- each post is of (question, answers) type -->
                <div name = "author" class = {{author}}>
		<tr>
			<td>
				<div class="favorite" id={{post[0].key.id()}} >
                    {% if post[0].key.id() in favorites %}
				        <img src="/static/favorite_blank.jpg" } class = "not-favorite" height=15px width=15px float=left style="display: none" />
				        <img src="/static/favorite_voted.jpg" } class = "favorite" height=15px width=15px float=left  />
                    {% else %}
				        <img src="/static/favorite_blank.jpg"} class = "not-favorite" height=15px width=15px float=left />
				        <img src="/static/favorite_voted.jpg"} class = "favorite" height=15px width=15px float=left style="display: none"/>
                    {% endif %}
				</div>
			</td>
			<td>
				<a href="/home?question={{post[0].key.id()}}&email={{email}}"><strong>{{post[0].description}} </strong> </a> 
				<br/>
				Asked by {{post[0].name}} at {{post[0].location}}
			</td>
		</tr>
        {% if mode == 1 %}
		<tr>
			<td colspan="9"><hr size="1" width="100%" /></td>
		</tr>
                <td />
		        <td> <textarea rows="2" cols="40" id="text"></textarea><br>
		        <input type="button" value="Add Answer" style="float:right" onclick="postAnswer({{post[0].key.id()}})"/></td>
                <tr>
			<td colspan="9"><hr size="1" width="100%" /></td>
		</tr>
        {% endif %}   
        {% for answer in post[1] %}
		<tr>
			<td><span class="numbers" id="{{answer.key.id()}}">{{answer.upvote_count}}</span></td>
			<td>{{answer.name}}</td>
		</tr>
		<tr>
		    <td></td>
			<td>{{answer.description}} <br/>
			<u><a class="upvote_link" id="{{answer.key.id()}}">
			{% if answer.key.id() in upvoted_answers %}
			     Upvoted(Undo)
            {% else %}
                 Upvote
            {% endif %}
            </a></u>
            </td>
		</tr>
		<tr>
			<td colspan="9"><hr size="1" width="100%" /></td>
		</tr>
        {% endfor %}
        </div>
        {% endfor %}
	</table>
</body>
</html>
